<li class="list-group-item text-center ">
<%if p.length>0%>

  <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed table-striped">
          
      <thead>
        <tr>
          <th class="actions">Nombre</th>
          <th class="actions">Departamento</th>
          <th class="actions">Sueldo Básico</th>
          <th class="actions">Sueldo Integral</th>
          <th class="actions">Nómina</th>
          <th class="actions">Disponible</th>
          <th class="actions" style="width: 100px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% p.each do |cargo| %>
        <tr>
          <td><%= cargo.nombre.upcase %></td>
          <td><%= cargo.departamento.nombre.upcase %></td>
          <td><%= tr(cargo.sueldos.last.monto) %></td>
          <td><%= tr(cargo.sueldos.last.sueldo_integral) %></td>
          <td><%= cargo.tipo.nombre.upcase %></td>
          <td><%if cargo.disponible %>
            <span class="fa fa-check"></span>
            <%else%>
            <span class="fa fa-remove"></span>
            <%end%></td>
          <td class="actions">
            <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
              <%= render 'layouts/actions', x: Cargo, y: edit_cargo_path(cargo), z: cargo %>

            </td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="pagination ">
      <%= will_paginate p, renderer: BootstrapPagination::Rails %>
    </div>

    <%else%>
    <div class="actions">
      <h4>"No hay cargos disponibles"</h4>
    </div>
    <%end%>
  </li>
