<%= simple_form_for(@cargo, html: {  role: "form"})   do |f| %>
<%= render 'layouts/errores', x: @cargo %>
<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <%= f.label :nombre %><br>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-align-justify"></span>
            </span>
            <%= f.text_field :nombre, class: "form-control input-text", autofocus:"", hint:"Sueldo basico que se gana en este cargo."%>
          </div>
        </div>
        <div class="col-xs-6">
          <%= f.label :departamento_id %><br>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-building-o"></span>
            </span>
            <%  d =(Cargo._attr_readonly.include?("departamento_id") and f.object.departamento_id.nil? == false) ? "disabled" : " "%>

            <%= f.select(:departamento_id, options_for_select(Departamento.all.map{|s|[s.nombre, s.id]}, f.object.departamento_id),{include_blank:'Seleccione un departamento...'},class: "form-control","#{d}": true)  %>
          </div>
        </div>
        <div class="col-xs-6">
          <%= f.label :tipo_id %><br>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-align-justify"></span>
            </span>
            <%  d =(Cargo._attr_readonly.include?("tipo_id") and f.object.tipo_id.nil? == false) ? "disabled" : " "%>

            <%= f.select(:tipo_id, options_for_select(Tipo.all.map{|s|[s.nombre, s.id]}, f.object.tipo_id),{include_blank:'Seleccione una nómina...'},class: "form-control","#{d}": true)  %>
          </div>
        </div>
        <%= f.fields_for :sueldos  do |sueldo_builder|  %>
        <% if sueldo_builder.object.activo? %>

        <div class="col-xs-6">
          <%= sueldo_builder.label :monto %>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-money"></span>
            </span>
            <%= sueldo_builder.text_field :monto,class: "form-control"%>
          </div>
        </div>
        <div class="col-xs-6">
          <%= sueldo_builder.label :sueldo_integral %>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-money"></span>
            </span>
            <%= sueldo_builder.text_field :sueldo_integral,class: "form-control" %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <%= render 'layouts/botones', p: cargos_path  %>
    </div>
  </div>
</div>
<% end %>
