<div class="page-header">
  <h2><%= @cargo.nombre.upcase %></h2>
  <% ocupado_por=Persona.where("cargo_id=#{@cargo.id}").first%>
  <h4>
    <b>Departamento:</b>
    <%= @cargo.departamento.nombre.upcase %>
    <%if ocupado_por%>
    ,
    <b>Ocupado por:</b>
    <%= (ocupado_por.nombres + " "+ocupado_por.apellidos).upcase %>
    ,
    </h4>
    <h4>
    <b>Desde:</b>
    <%= ocupado_por.contrato.fecha_inicio%>
    <%end%>
  </h4>
</div>

<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false">Sueldos</li>
  <li class="list-group-item text-center">
    <div class="table-responsive">
      <table class="table table-hover table-responsive table-condensed table-bordered">
        <thead>
          <tr>
            <th class="actions">Sueldo Base</th>
            <th class="actions">Sueldo Integral</th>
            <th class="actions">Fecha de vigencia</th>
            <th class="actions" style="width:20px">Activo</th>
          </tr>
        </thead>

        <tbody>
          <% @cargo.sueldos.order('activo DESC').each do |sueldo| %>
          <tr class="<%= sueldo.activo ? 'success': 'danger'%>">
            <td><%= tr(sueldo.monto) %></td>
            <td><%= tr(sueldo.sueldo_integral) %></td>
            <%
            quincena=(sueldo.created_at.day<=15)? 0 : 1
            %>
            <th class="actions"><%= sueldo.created_at.strftime("#{$dic['quincena'].key(quincena)} #{$dic['meses'].key(sueldo.created_at.month).capitalize}-%Y") %></th>
            <th class="actions"><%if sueldo.activo %>
              <span class="fa fa-check"></span>
              <%else%>
              <span class="fa fa-close"></span>
              <%end%></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<div class="col-xs-12 actions"><br>
  <%= link_to raw('<i class= "fa fa-pencil"></i> Editar'), edit_cargo_path(@cargo), class: "btn btn-success boton" %>
  <%= link_to raw('<i class= "fa fa-arrow-circle-left"></i> Regresar'), cargos_path, class: "btn btn-default boton" %>
</div>
