<%= simple_form_for(@departamento, html: {  role: "form"})   do |f| %>
<%= render 'layouts/errores', x: @departamento %>
<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <%= f.label :nombre %><br>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-align-justify"></span>
            </span>
            <%= f.text_field :nombre, class: "form-control", autofocus: "" %>
          </div>
        </div>
        <div class="col-md-6">
          <%= f.label :dependencia_id %><br>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <span class="fa fa-building-o"></span>
            </span>
            <% if f.object.dependencia_id=f.object.dependencia_id ? f.object.dependencia_id : 0%>
            <%  d =(Departamento._attr_readonly.include?("dependencia_id") and f.object.dependencia_id.nil? == false) ? "disabled" : " "%>

            <%= f.select(:dependencia_id, options_for_select(Dependencia.all.map{|s|[s.nombre, s.id]}, f.object.dependencia_id),{include_blank:'Seleccione una Dependencia...'},class: "form-control","#{d}": true)  %></span>
          <%end%>
        </div>
      </div>
    </div>
    <%= render 'layouts/botones', p: departamentos_path  %>
  </div>
</div>
</div>
<%end%>
