Estimado, <%=@persona.nombres.upcase%> <%=@persona.apellidos.upcase%>.
Se le ha enviado su recibo de pago correspondiente a la <%=$dic["quincena"].key($quincena).capitalize%> de <%=$dic["meses"].key($ahora.month).capitalize%> de <%=$ahora.year%>.
