<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-building-o fa-5x"></i>
        <h3><%= Dependencia.all.length%></h3>
      </div>
      <div class="panel-footer back-footer-red">
        Dependencias
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-building-o fa-5x"></i>
        <h3><%= Departamento.all.length%></h3>
      </div>
      <div class="panel-footer back-footer-red">
        Departamentos
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <span class="fa-stack  fa-fw," style="font-size: 2.5em;">
            <i class="fa fa-user fa-stack-2x" style="color:white;"></i>
            <i class="fa fa-money fa-stack-1x" style="color:grey; margin-top:0.5em; margin-left:0.3em;"></i>
          </span>
        <h3><%= Tipo.all.length%></h3>
      </div>
      <div class="panel-footer back-footer-red">
        Nóminas
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-briefcase fa-5x"></i>
          <h3><%= Cargo.all.where(disponible:true).length%></h3>
      </div>
      <div class="panel-footer back-footer-red">
        Cargos Disponibles
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-users fa-5x"></i>
        <h3><%= Persona.all.length%></h3>
      </div>
      <div class="panel-footer back-footer-red">
        Empleados
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-envelope fa-5x"></i>
        <h4>
          <input class="btn btn-default bg-color-red btn-xs " type="button" id="enviar_recibos" value="Enviar a todos"></h4>
      </div>
      <div class="panel-footer back-footer-red">
        Reporte de Pago
      </div>
    </div>
  </div>
</div>
<hr/>
</br>
<%
#pruebaaa
  @personas= Persona.all
@personas.each do |persona|
  %>
<input type="hidden" class="persona" value="<%=persona.id%>">
<%end%>
<div class="modal fade" id="enviar" tabindex="-1" role="dialog" aria-labelledby="enviar" style="margin-top: 200px;">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header  text-center">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw margin-bottom"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <div class="modal-footer">
      <div id="progreso" class="text-center"></div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">

function s(x) {
  $("#progreso").html("progreso: " + x + "/" + $('.persona').length)
  $.ajax({
    method: "POST",
    url: "/personas/" + $('.persona')[x].value + "/enviar"
  }).done(function () {
    x = x + 1
    if (x < $('.persona').length) {

      s(x);
    } else {

      $('#enviar').modal("hide");
    }
  });
}
$(function () {
  $('#enviar_recibos').click(function () {

    $('#enviar').modal({backdrop: false});
    s(0);

  });
});
</script>

</div>
