<%= simple_form_for(@persona, html: {  role: "form"})   do |f| %>
<%= render 'layouts/errores', x: @persona %>



<div class="row">
  <div class="col-md-12 col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#datos" data-toggle="tab">Principal
        </a>
      </li>
      <li class="">
        <a href="#familiares" data-toggle="tab">Familia</a>
      </li>
      <% if Conceptopersonal.all.length>0%>
      <li class="">
        <a href="#conceptospersonales" data-toggle="tab">Conceptos Personales</a>
      </li>
      <%end%>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="datos">
        <%= render 'datos',f: f  %>

      </div>
      <div class="tab-pane fade" id="familiares">
        <br>
        <%= f.fields_for :familiares do |fa| %>

        <%= render 'familiar_fields', f: fa %>
        <% end %>
        <div class="links">

          <%= link_to_add_association raw('<i class="fa fa-plus"></i> Agregar Familiar'), f, :familiares, class: "links pull-right" %>
        </div>
      </div>
      <div class="tab-pane fade" id="conceptospersonales">
        <br>
        <% x=false%>
        <%=f.fields_for :registrosconceptos do |fa| %>

        <%= render 'registroconcepto_fields', f: fa %>
        <%end %>
        <div class="links">

          <%= link_to_add_association raw('<i class="fa fa-plus"></i> Agregar concepto'), f, :registrosconceptos, class: "links pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/botones', p: personas_path  %>
<% end %>

<script>

  function se() {
    var v = $("#persona_contrato_attributes_tipo_de_contrato").val();

    switch (v) {
      case '0':
        {

          $("#persona_contrato_attributes_fecha_fin").attr('disabled', true);
          $("#persona_contrato_attributes_sueldo_externo").attr('disabled', true);
          $("#persona_contrato_attributes_fecha_fin").val("");
          $("#persona_contrato_attributes_sueldo_externo").val("");
        };
        break;
      case '1':
        {

          $("#persona_contrato_attributes_fecha_fin").attr('disabled', false);
          $("#persona_contrato_attributes_sueldo_externo").attr('disabled', true);
          $("#persona_contrato_attributes_sueldo_externo").val("");
        };
        break;
      case '2':
        {

          $("#persona_contrato_attributes_fecha_fin").attr('disabled', true);
          $("#persona_contrato_attributes_sueldo_externo").attr('disabled', false);
          $("#persona_contrato_attributes_fecha_fin").val("");

        };
        break;
    }
  }
  $(function () {
    se();

    $('[data-toggle="popover"]').popover();
    $('#persona_contrato_attributes_tipo_de_contrato').change(se);
  });
</script>
