<div class="panel panel-default nested-fields">
  <div class="panel-heading">
    <div class="pull-right" style="margin-left:10px;"><%=link_to_remove_association raw('<i class="fa fa-times"></i>'), f%></div>
    Concepto   <div class="pull-right">  <%
    created_at=""
    if f.object.id.nil?
      created_at=$ahora
    else
      created_at=f.object.created_at
    end
        quincena=(created_at.day <=15)?0:1
      %>
      <%= $dic["quincena"].key(quincena).capitalize+'('+created_at.strftime("#{$dic["meses"].key($ahora.month)}-%Y")+') '%></div>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <%= f.label "Concepto Personal" %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-align-justify"></span>
        </span>
        <%  d =(Registroconcepto._attr_readonly.include?("conceptopersonal_id") and f.object.conceptopersonal_id.nil? == false) ? "disabled" : " "%>

        <%= f.select(:conceptopersonal_id, options_for_select(Conceptopersonal.all.map{|s|[s.nombre, s.id]},f.object.conceptopersonal_id),{include_blank:'Seleccione un concepto...'}, class: 'form-control',"#{d}": true)  %>
      </div>
    </div>
        <div class="col-xs-6">
      <%= f.label "Modalidad de Pago" %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar-o"></span>
        </span>
        <%  d =(Registroconcepto._attr_readonly.include?("modalidad_de_pago") and f.object.modalidad_de_pago.nil? == false) ? "disabled" : " "%>

    <%= f.select(:modalidad_de_pago, options_for_select($dic["modalidad_de_pago"],f.object.modalidad_de_pago),{include_blank: 'Seleccione una modalidad de pago...'},class: "form-control","#{d}": true)  %>
      </div>
    </div>
    <%if f.object.formulaspersonales.length==0
    f.object.formulaspersonales.build
      end
       %>
    <%= f.fields_for :formulaspersonales  do |formula_builder|
       %>
       <% if formula_builder.object.activo? %>

<%# if formula_builder.object.activo? %>
    <div class="col-xs-6">
      <%= formula_builder.label :empleado %><br>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calculator"></span>
        </span>
        <%= formula_builder.text_area :empleado, class: "form-control code"%>
      </div>
    </div>
    <div class="col-xs-6">
      <%= formula_builder.label :patrono %><br>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calculator"></span>
        </span>
        <%= formula_builder.text_area :patrono, class: "form-control code"%>
      </div>
    </div>
    <%if !f.object.id.nil? %>
<button type="button" name="button">desactivar</button>
<% end %>
<% end %>
    <% end %>

  </div>

</div>
