<div class="page-header">
  <%= render 'layouts/nuevo', msg: "Contratar persona", path: new_persona_path ,x: Persona %>

  <h1><i class="fa fa-users"></i> Empleados</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item text-muted" contenteditable="false">Búsqueda</li>
      <li class="list-group-item ">

        <div class="input-group">
          <div class="input-group-btn">
            <button id="departamentos" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos los departamentos
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class=" disabled">
                <a href="#" class="departamento" id="">Todos los departamentos</a>
              </li>
              <%@departamentos=Departamento.all

            @departamentos.each do |c|%>
              <%=  raw("<li><a href=\"#\" class=\"departamento\" id=\""+c.id.to_s+"\">"+c.nombre.capitalize+"</a></li>") %>
              <%end%>

            </ul>

          </div>
          <div class="input-group-btn">
            <button id="tipos" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos las nóminas
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class=" disabled">
                <a href="#" class="tipo" id="">Todas las nóminas</a>
              </li>
              <%@tipos=Tipo.all

            @tipos.each do |c|%>
              <%=  raw("<li><a href=\"#\" class=\"tipo\" id=\""+c.id.to_s+"\">"+c.nombre.capitalize+"</a></li>") %>
              <%end%>

            </ul>

          </div>
          <input type="text" class="form-control" placeholder="Buscar por cédula, nombres, apellidos..." name="search" id="search" value="<%= params[:search]%>">
          <input type="text" id="departamento_search" value="" hidden="hidden">
          <input type="text" id="tipo_search" value="" hidden="hidden">

          <span class="input-group-addon">
            <span id="search_icon" class="fa fa-search"></span>

          </span>
        </div>
      </li>
    </ul>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#activos" data-toggle="tab" id="activos_tab">Activos
          <span class="badge"><%= @alength %>
            <span></a>
          </li>
          <li class="">
            <a href="#suspendidos" data-toggle="tab" id="suspendidos_tab">Suspendidos
              <span class="badge"><%= @slength %>
                <span></a>
              </li>
              <li class="">
                <a href="#retirados" data-toggle="tab" id="retirados_tab">Retirados
                  <span class="badge"><%= @rlength %>
                    <span></a>
                  </li>

                </ul>

                <div class="tab-content">

                  <div class="tab-pane fade active in" id="activos">
                    <div class="sort_paginate_ajax  text-center">
                      <%= render 'personas', p: @personas %>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="suspendidos">
                    <div class="sort_paginate_ajax_suspendidos  text-center">
                      <%= render 'personas', p: @personas_suspendidas %>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="retirados">
                    <div class="sort_paginate_ajax_retirados  text-center">
                      <%= render 'personas', p: @personas_retiradas %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <script>
              var classes = ".sort_paginate_ajax th a, .sort_paginate_ajax .pagination a, .sort_paginate_ajax_retirados th a, .sort_paginate_ajax_retirados .pagination a, .sort_paginate_ajax_suspendidos th a, .sort_paginate_ajax_suspendidos .pagination a";
              var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                  clearTimeout(timer);
                  timer = setTimeout(callback, ms);
                };
              })();

              function loading() {
                $("#search_icon").attr("class", "fa fa-refresh fa-spin fa-fw")
              }
              function query() {
                loading();
                return "/personas?page=1&search=" + $("#search").val() + "&departamento=" + $("#departamento_search").val()+ "&tipo=" + $("#tipo_search").val();

              }
              $(function () {

                $(".departamento").click(function () {
                  $(".departamento").parent().attr("class", "");
                  $(this).parent().attr("class", "disabled")
                  $("#departamentos").html($(this).html() + '<span class="caret"></span>');
                  $("#departamento_search").val($(this).attr("id"));
                  $.getScript(query());

                  return false;
                });
                $(".tipo").click(function () {
                  $(".tipo").parent().attr("class", "");
                  $(this).parent().attr("class", "disabled")
                  $("#tipos").html($(this).html() + '<span class="caret"></span>');
                  $("#tipo_search").val($(this).attr("id"));
                  $.getScript(query());

                  return false;
                });
                $("#search").keyup(function () {
                  delay(function () {
                    $.getScript(query());

                    return false;
                  }, 500);
                });
                $('a[data-toggle="tab"').on('shown.bs.tab', function () {
                  $.getScript(query());

                  return false;
                });
                $(classes).click(function () {
                  $.getScript(this.href);
                  return false;
                });
              });
            </script>
