/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require codemirror
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
font-family: 'Noto Sans', sans-serif;
  background: #202020;
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Oswald', sans-serif;
}
#wrapper {
  width: 100%;
  background: #202020;
}
#page-wrapper {
  margin: 0 0 0 260px;
  padding: 15px 30px;
  min-height: 600px;
  background: #FFFFFF;
}
#page-inner {
  width: 100%;
  margin: 70px 20px 10px 0;
  background-color: #fff!important;
  padding: 0px;
  min-height: 1200px;
}
#posicionmenu {
    width: 100%;
  z-index: 9999;
  position: fixed;
}
.text-center {
  text-align: center;
}
.no-boder {
  border: 1px solid #f3f3f3;
}
h2 {
  color: black;
}
h4 {
  padding-top: 10px;
}
.square-btn-adjust {
  border: 0 solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
p {
  font-size: 16px;
  line-height: 25px;
  padding-top: 20px;
}
/*==============================================
   DASHBOARD STYLES
    =============================================*/
.panel-back {
  background-color: #F8F8F8;
}
.noti-box {
  min-height: 100px;
  padding: 20px;
}
.noti-box .icon-box {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.text-box p {
  margin: 0 0 3px;
}
.main-text {
  font-size: 25px;
  font-weight: 600;
}
.set-icon {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.bg-color-green {
  background-color: #00CE6F;
  color: #fff;
}
.bg-color-blue {
  background-color: #A95DF0;
  color: #fff;
}
.bg-color-red {
  background-color: #DB0630;
  color: #fff;
}
.bg-color-brown {
  background-color: #B94A00;
  color: #fff;
}
.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.main-temp-back {
  background: #8702A8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.main-temp-back .text-temp {
  font-size: 40px;
}
.back-dash {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #2EA7EB;
  color: #fff;
}
.back-dash p {
  padding-top: 16px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  text-align: justify;
}
.back-footer-green {
  background-color: #009B50;
  border-top: 0 solid #fff;
}
.back-footer-red {
  background-color: #AF0000;
  border-top: 0 solid #fff;
}
.color-bottom-txt {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

/*==============================================
    MENU STYLES
    =============================================*/
.user-image {
  margin: 25px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height: 126px;
  max-width: 126px;
}
.navbar-cls-top .navbar-brand {
  color: #fff;
  background: #C90000;
  width: 260px;
  text-align: center;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
}
.active-menu {
  background-color: #C90000!important;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding-left: 37px;
}
.nav-third-level li a {
  padding-left: 55px;
}
.sidebar-collapse,
.sidebar-collapse .nav {
  background: none;
}
.sidebar-collapse .nav {
  padding: 0;
}
.sidebar-collapse .nav > li > a {
  color: #fff;
  background: #202020;
  text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
  padding: 7px 7px;
}
.sidebar-collapse > .nav > li {
  border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:focus,
.sidebar-collapse .nav > li > a:hover {
  background: #0A0A0A;
  outline: 0;
}
.nav-second-level > li > a:before,
.nav-third-level > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 15px;
  height: 1px;
  background: #ff0000;
  top: 20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 1px;
  height: 100%;
  background: #ff0000;
  top: 0;
  z-index: 10;
}
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
  height: 50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
  left: 40px;
}
.navbar-side {
  border: none;
  background-color: #202020;
}
.navbar-cls-top {
  background: #4D4D4D;
  border-bottom: none;
  position: static;
}
.navbar-cls-top .navbar-brand:hover {
  background: #C90000;
  color: #fff;
}
.navbar-default {
  border: 0 solid black;
}
.navbar-header {
  background: #A70303;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #B40101;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nav > li > a > i {
  margin-right: 10px;
}
/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
/*==============================================
    MEDIA QUERIES
    =============================================*/
@media(min-width:768px) {
  #page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: 1200px;
  }
  .navbar-side {
    z-index: 1;
    position: absolute;
    width: 260px;
  }
  .navbar {
    border-radius: 0;
  }
}
.actions {
  text-align: center;
}
.boton {
  margin: 7px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: black;
	background: rgb(208,208,208);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: black;
	background: rgb(240,240,240) ;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de615e;
}
.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fa-stack.fa-fw {
    width: 2.5714285714285716em;
}

//metismenu
/*
 * metismenu - v2.5.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri Okumuş <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float: left;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
*[dir="rtl"] .metismenu .plus-times {
  float: left;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}
.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
