<%= simple_form_for(@conceptopersonal, html: {  role: "form"})   do |f| %>
<%= render 'layouts/errores', x: @conceptopersonal %>
<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <%= f.label :nombre %><br>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-align-justify"></span>
          </span>
          <%= f.text_field :nombre, class: "form-control", autofocus: "" %>
        </div>
      </div>

      <div class="col-xs-6">
        <%= f.label :tipo_de_concepto  %>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-arrow-up"></span>
            <span class="fa fa-arrow-down"></span>
          </span>
          <%  d =(Conceptopersonal._attr_readonly.include?("tipo_de_concepto") and f.object.tipo_de_concepto.nil? == false) ? "disabled" : " "%>

          <%= f.select(:tipo_de_concepto , options_for_select($dic["tipos_de_conceptos"],f.object.tipo_de_concepto),{include_blank:'Seleccione un tipo de concepto...'},class: "form-control","#{d}": true)  %>
        </div>

      </div>
      <%= render 'layouts/botones', p: conceptospersonales_path  %>
    </div>
  </div>
</div>
<% end %>
