<div class="page-header">
  <div class="pull-right">
    <% if can? :destroy, Registro %>
    <%= link_to " Limpiar todos los registros", registro_path(0),class: "btn btn-danger fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %>
    <%end%>
  </div>
  <h1><i class="fa fa-book"></i> Registros</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      <li class="list-group-item ">
        <div class="table-responsive">
          <div class="tab-pane fade active in" id="activos">
            <div class="sort_paginate_ajax  text-center">
              <%= render 'registros', p: @registros %>
            </div>
          </div>
        </li>
      </ul>
      <br>
      <script type="text/javascript">
        $(function () {

          $(".sort_paginate_ajax th a, .sort_paginate_ajax .pagination a").click(function () {
            $.getScript(this.href);
            return false;
          });
        });
      </script>
