<div class="modal fade" id="acercade" style="margin-top:60px;" tabindex="-1" role="dialog" aria-labelledby="acercadeLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-help fa-2x"></i>
                    Acerca de...</h4>
            </div>
            <div class="modal-body" style="margin-right:15px;">

                <h1> <img class="text-center" src="/assets/logo.png" alt="" />FUNSONE NÓMINA</h1>
                <dl class="dl-horizontal" >
                  <dt>Descripción <span class="fa fa-bars fa-fw"></span></dt>
                  <dd style="text-align:justify;">Sistema bajo ambiente web para el control de empleados y gestión de nóminas de la Fundacion Social Nueva Esparta.</dd>
                <dt>Versión <span class="fa fa-code fa-fw"></span></dt>
                <dd>2016.05.31</dd>

                <dt>Creado por <span class="fa fa-users fa-fw"></span></dt>
                <dd>Victor Serrano <a href="#"><span class="fa fa-twitter"></span></a>
                  <a href="#"><span class="fa fa-instagram"></span></a>
                  <a href="#"><span class="fa fa-facebook"></span></a>
                  <a href="#"><span class="fa fa-globe"></span></a>
                </dd>
                <dd>Monica Huamani <a href="#"><span class="fa fa-twitter"></span></a>
                  <a href="#"><span class="fa fa-instagram"></span></a>
                  <a href="#"><span class="fa fa-facebook"></span></a>
                  <a href="#"><span class="fa fa-globe"></span></a>
                </dd>
              </dl>
</div>
<div class="modal-footer">

  <a class="btn btn-default" href="mailto:<%= Setting.email_admin%>" role="button">Contactar administrador</a>
    <a class="btn btn-default" href="<%= welcome_ayuda_path%>" role="button"> Manual</a>
<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
